.notif-manager {
  &__count {
    text-align: center;
    margin-bottom: 10px;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    &__button {
      margin-right: 10px;
      padding: 10px 20px;
    }
  }
}
