.buckets {
  width: 300px;
  margin: 0 auto;
  .fruits {
    &__item {
      padding: 4px 8px;
      border: 1px solid #eeee;
      display: flex;
      align-items: center;
      &__title {
        flex: 1;
        margin-right: 16px;
      }
      .material-icons {
        color: red;
        cursor: pointer;
        &:hover {
          color: #333;
        }
      }
      &--limited {
        background-color: #333;
        color: white;
      }
    }
  }

  .add-section {
    display: flex;
    align-items: center;
  }

}
