.write-box-container {
  display: flex;
  flex-direction: row;
  .write-box {
    flex: 1;
    textarea {
      width: 100%;
      min-height: 100%;
      resize: none;
    }
  }
  textarea {
    padding: 10px;
  }
  .send-button {
    .btn {
      height: 100%;
    }
  }
}
