<div class="notif-manager">
  <div class="notif-manager__count">
    Notifications Count: {{ notificationsCount$ | async }}
  </div>
  <div class="notif-manager__actions">
    <button (click)="addNotification()" class="notif-manager__actions__button">
      Add Notification
    </button>
    <button
      (click)="removeNotification()"
      class="notif-manager__actions__button"
    >
      Remove Notification
    </button>
    <button (click)="resetCount()" class="notif-manager__actions__button">
      Reset Count
    </button>
  </div>
</div>
