.content__toggle-actions {
  text-align: center;
  margin-bottom: 20px;
  &__heading {
    margin-bottom: 10px;
  }
  &__action {
    margin-right: 16px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
