/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #8711fc;
  --main-bg: #fff;
  --text-color: #333;
  --primary-btn-color: var(--primary);
  --primary-btn-text-color: #fff;
  --card-bg: #ececec;
}

html,
body {
  background-color: var(--main-bg);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
