.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    font-size: 60px;
    position: relative;
    &__number {
      margin: auto;
      position: absolute;
      top: 4px;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 20px;
      width: max-content;
      height: max-content;
    }
  }
  cursor: pointer;
  &:hover {
    .folder__icon {
      color: #afafaf;
    }
  }
}
