.page-section {
  min-height: 250px;
  text-align: center;
  background-color: #eee;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &:nth-of-type(even) {
    background-color: #333;
    color: white;
    .card {
      color: #333;
    }
  }
}

.page-links {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  align-self: flex-end;
  &__link {
    margin-right: 16px;
  }
  &__heading {
    flex: 1;
  }
}


.to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: rgb(196,3,47);
  border-radius: 50%;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all ease .1s;
  &:hover {
    background-color: black;
    color: white;
  }
  .material-icons {
    font-size: 30px;
    color: white !important;
  }
}
