$folder-bg: #f5f5f5;

.folders {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    &__folder {
      padding: 0 20px;
      &--selected {
        background-color: $folder-bg;
      }
    }
  }
  &__selected-folder-files {
    padding-top: 40px;
    width: 100%;
    background-color: $folder-bg;
    &__file {
      display: block; // necessary for cdk-drag transitions
    }
  }
}
