app-vc-logs {
  margin-top: 20px;
  display: block;
}
:host {
  text-align: center;
  padding: 2rem;
  background-color: #f5f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-width: 960px;
  min-width: 400px;
}
