<!-- Code Credit: https://codepen.io/eMineiro/pen/vKkdya -->

<div class="f-card" [@cardAnimation]="cardState">
  <div class="header">
    <div class="options"><i class="fa fa-chevron-down"></i></div>
    <img class="co-logo" src="assets/profile.png" />
    <div class="co-name"><a href="#">Muhammad Ahsan Ayaz</a></div>
    <div class="time"><a href="#">2hrs</a> · <i class="fa fa-globe"></i></div>
  </div>
  <div class="content">
    <p>Angular and Ionic have great history together. Combined, they can do wonders. And Ahsan is an expert at both. Follow him at <a href="https://twitter.com/iamahsanayaz">https://twitter.com/iamahsanayaz</a> See More</p>
  </div>

  <div class="reference">
    <img class="reference-thumb" src="assets/cover.jpg" />
    <div class="reference-content">
      <div class="reference-title">Angular & Ionic - Wonders beyond imagination</div>
      <div class="reference-subtitle">Angular and Ionic have great history together. Combined, they can do wonders</div>
      <div class="reference-font">ahsanayaz.com</div>
    </div>
  </div>
  <div class="social">
    <div class="social-content"></div>
    <div class="social-buttons">
      <span><i class="fa fa-thumbs-up"></i>Like</span>
      <span><i class="fa fa-comment"></i>Comment</span>
      <span><i class="fa fa-share"></i>Share</span></div>
  </div>
</div>
